__pycache__
*.md
*.pyc
**/__pycache__
**/*.pyc
**/.DS_Store
.DS_Store
.circleci
.coverage
.dockerignore
.git
.gitignore
Dockerfile
assets
docs
env.d
node_modules
db.sqlite3
docker-compose.*
package.json
yarn.lock
