[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
"django-configurations" = "*"
"django-mptt" = "*"
"django-tagulous" = "*"
"django-extensions" = "*"
gunicorn = "*"




[dev-packages]

pytest = "*"
"pytest-django" = "*"
"pytest-cov" = "*"
"flake8" = "*"
coveralls = "*"
"factory-boy" = "*"


[requires]
python_version = "3.6"