[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = "*"
"django-configurations" = "*"




[dev-packages]

pytest = "*"
"pytest-django" = "*"
"pytest-cov" = "*"
"flake8" = "*"


[requires]
python_version = "3.6"