{% extends "submission/base.html" %}

{% load i18n %}

{% block title %}{% trans "Validation" %}{% endblock %}
{% block body_class %}{{ block.super }} validation{% endblock %}

{% block header %}
<h1>
  {% trans "New submission validation" %}
  {% with process=activation.process %}
  <a href="{% url 'submission:detail' process_pk=process.pk %}">
    #{{ process.id }}
  </a>
  {% endwith %}
</h1>
{% endblock %}

{% block step_content %}
  <div class="actions-wrapper">

    {% include 'submission/partials/meta.html' with meta=submissionprocess.meta %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "foundation/form.html" %}
      {{ activation.management_form }}
      <input type="submit" name="_continue" value="{% trans "Validate" %}" class="button" />
    </form>
  </div>
{% endblock step_content %}

{% block javascript %}
<script>
  (function () {
    var $btn = document.querySelector('input[name="_continue"]');
    var $checkbox = document.querySelector('#id_validated');

    // Disable by default.
    $btn.setAttribute('disabled', 'disabled');

    $checkbox.addEventListener('click', function (event) {
      if (event.target.checked) {
        $btn.removeAttribute('disabled');
      } else {
        $btn.setAttribute('disabled', 'disabled');
      }
    });
  })();
</script>
{% endblock %}
