/*
  Coolors Exported Palette - coolors.co/81dbdb-edb53d-f9774f-bd2222-142451
*/

// Medium Sky Blue: #81dbdb
$color1: rgba(129, 219, 219, 1);
// Meat Brown: #edb53d
$color2: rgba(237, 181, 61, 1);
// Coral: #f9774f
$color3: rgba(249, 119, 79, 1);
// Firebrick: #bd2222
$color4: rgba(189, 34, 34, 1);
// Space Cadet: #142451
$color5: rgba(20, 36, 81, 1);
