/*
  Coolors Exported Palette - coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e
*/

// Gainsboro: #d8dbe2
$color1: rgba(216, 219, 226, 1);
// Pastel Blue: #a9bcd0
$color2: rgba(169, 188, 208, 1);
// Cadet Blue: #58a4b0
$color3: rgba(88, 164, 176, 1);
// Charcoal: #373f51
$color4: rgba(55, 63, 81, 1);
// Eerie Black: #1b1b1e
$color5: rgba(27, 27, 30, 1);
