a {
  &.action {
    @include button;

    &.secondary {
      background-color: $secondary-color;
    }

    &.disabled {
      @include button-disabled;

      &.secondary {
        background-color: $secondary-color;
      }
    }
  }
}

h1 {
  span.subheader {
    font-size: 2rem;
  }
}

i {
  &.success {
    color: $success-color;
  }
  &.error {
    color: $alert-color;
  }
}

.disclaimer {
  @include callout($warning-color);

  & > i.fa {
    float: left;
    padding: 0 1rem 1rem 0;
    font-size: 3rem;
    color: rgba($warning-color, 0.6);
  }
}

.empty {
  font-style: italic;
}

form {
  @include xy-grid;
  
  .form-actions {
    @include xy-cell($size: 100%);
  }
}
