.explorer {

  // Used in the left-column of the pixelset list view and the pixelset
  // selection view.
  .selection-pixelsets {

    .selected-pixelsets {
      @include left-sidebar-list;

      font-size: 0.9rem;
    }

    form {
      display: inline-block;

      .action-deselect {
        margin: 0;
        padding: 0.2rem;
      }
    }
  }

  // Used in the detail view and the pixelset selection view.
  .subset-selection {
    .help-text {
      margin-top: 0.4rem;
    }
  }

  .distributions {

    .histograms {
      @include xy-grid($wrap: false);

      .histogram {
        @include breakpoint(medium) {
          @include xy-cell($size: 6, $gutter-output: false);
        }

        text-align: center;
        padding: 2em 1em;
      }
    }
  }

  .pixelsets-wrapper,
  .pixels-wrapper {
    @include table-scroll;
  }

  table {
    @include table;
    @include table-hover;

    .highlight {
      background-color: lighten($primary-color, 35%);
      border-radius: 3px;
      padding: 1px 2px;
    }
  }

  .table-preview-pixels {
    td:nth-child(2) {
      min-width: 250px;
    }
  }

  .table-preview-pixels {
    .value,
    .quality-score {
      font-family: $font-family-monospace;
    }
  }
}
