.explorer {

  /* layout */
  &.pixelsets {
    .page-content-wrapper {
      .page-content {
        .sidebar-left {
          @include xy-cell($size: 2.5, $gutter-output: false);
        }

        .content {
          @include xy-cell($size: 9.5, $gutter-position: 'left');
        }
      }
    }
  }

  &.pixelset {
    .content {
      .pixelset-overview {
        @include xy-grid($wrap: false);

        .meta {
          @include xy-cell($size: 6, $gutter-output: false);
        }

        .selection {
          @include xy-cell($size: 6, $gutter-position: 'left');
        }
      }
    }
  }

  /* pixelset list */
  aside.sidebar-left {

    .filters {

      #pixelset-filters-form {
        .field {
          label {
            font-weight: bold;

            ul#id_tags {
              li {
                @include tag;
              }
            }

            ul {
              max-height: 200px;
              margin-left: 0;
              list-style: none;
              overflow-y: auto;

              li > label {
                font-weight: normal;
                overflow-wrap: break-word;

                input {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .pixelsets-wrapper {
    @include table-scroll;
  }

  table {
    @include table;
    @include table-hover;

    .pixelset {
      cursor: pointer;
    }

    td {
      vertical-align: top;
    }

    .filename {
      font-family: $font-family-monospace;
    }

    .analysis,
    .experiments {
      font-size: 0.8rem;
    }

    .completed-at {
      display: inline-block;
      padding: 0.2rem 0;
      font-style: italic;
    }

    span.species {
      font-style: italic;
    }

    .highlight {
      background-color: lighten($primary-color, 35%);
      border-radius: 3px;
      padding: 1px 2px;
    }
  }

  .actions {
    margin-bottom: 10px;
    padding: 20px 20px 5px;
    text-align: center;
  }

  table.pixelsets {
    width: 200%;
  }

  /* pixel set detail */
  .pixelset-overview {

    .meta {
      table {
        th {
          text-align: left;
        }
      }
    }

    .selection {
      .help-text {
        margin-top: 0.4rem;
      }
    }
  }

  table.pixels {
    .value,
    .quality-score {
      font-family: $font-family-monospace;
    }
  }
}
