.dashboard {

  background: lighten($light-gray, 5%);

  #omicsarea-tree tr {
    background: transparent;
  }

  .google-title {
    color: $black;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .count-value {
    font-size: 3em;
    text-align: center;
  }

  .widget{
    background: $white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 5px;
  }

}
