.http {
  background: #222;
  color: $white;

  .page-footer {
    color: $body-font-color;

    a {
      color: $footer-link-color;
    }
  }

  &.bad-request {}

  &.forbidden {
    background: $alert-color;
  }

  &.not-found {}

  &.server-error {}
}
