.base-layout {
  @include xy-grid($direction: 'vertical', $wrap: 'false');;
  min-height: 100vh;

  .main-navigation {
    @include top-bar-container;
    background-color: $header-background;

    .logo {
      height: 2rem;

      img {
        height: 100%;
      }
    }

    .navigation-links {

      .links {
        @include menu-base;

        li {
          &.pixeler {
            padding: 0.4rem 0.7rem;
          }
        }
      }
    }
  }

  .messages-wrapper {
    .messages {

      .message {
        @include callout-base;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
        text-align: center;

        &.debug {}
        &.info {
          @include callout-style($secondary-color);
          border-bottom: 3px solid lighten($secondary-color, 50%);
        }
        &.warning {
          @include callout-style($warning-color);
          border-bottom: 3px solid $warning-color;
        }
        &.success {
          @include callout-style($success-color);
          border-bottom: 3px solid $success-color;
        }
        &.error {
          @include callout-style($alert-color);
          border-bottom: 3px solid $alert-color;
        }
      }
    }
  }

  .page-header {
    @include xy-grid-container;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .page-content-wrapper {
    @include xy-grid-container;
    flex: 1;
    width: 100%;

    .page-content {
      @include xy-grid($wrap: false);

      .sidebar-left {
        @include xy-cell($size: 0, $gutter-output: false);
      }

      .content {
        @include xy-cell($size: 12, $gutter-output: false);
      }

      .sidebar-right {
        @include xy-cell($size: 0, $gutter-output: false);
      }
    }
  }

  .page-footer {
    @include xy-grid;
    margin-top: 1rem;
    padding: 1.2rem;
    background-color: $footer-background;
    font-size: 0.8rem;

    .copyright {
      @include xy-cell;
      text-align: center;

      a {
        color: $footer-link-color;
        text-decoration: underline;
      }
    }
  }
}
