{% extends "submission/base.html" %}

{% load i18n viewflow %}
{% load files %}

{% block title %}{% trans "Submission details" %} — #{{ process.id }}{% endblock %}
{% block body_class %}{{ block.super }} detail{% endblock %}

{% block header %}
<h1>
  {{ process.label }}
  <span class="subheader">
    (submission #{{ process.id }})
  </span>
</h1>
{% endblock %}

{% block step_list %}
  {% include "submission/partials/step-tabs.html" with tasks=task_list %}
{% endblock step_list %}

{% block step_content %}
  {% if not process.imported %}
  <div class="disclaimer">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <h4>{% trans "Pixels not imported" %}</h4>
    {% blocktrans %}
      This submission has not been fully achieved. You need to click on the task
      names above to pursue your submission.
    {% endblocktrans %}
  </div>
  {% else %}
  <h3>{% trans "Submission files" %}</h3>
  {% endif %}

  <table>
    <tbody>
      <tr>
        <th>{% trans "Submitted archive" %}</th>
        <td>
          {% if process.archive %}
            <a href="{{ process.archive.url }}">
              <i class="fa fa-download" aria-hidden="true"></i>
              {{ process.archive.name|filename }}
            </a>
          {% else %}
            {% trans "N/A" %}
          {% endif %}
        </td>
      </tr>
      {% if process.analysis %}
        <tr>
          <th>
            {% trans "Secondary data" %}
          </th>
          <td>
            <a href="{{ process.analysis.secondary_data.url }}" title="{% trans "View file" %}">
              <i class="fa fa-download" aria-hidden="true"></i>
              {{ process.analysis.secondary_data.name|filename }}
            </a>
          </td>
        </tr>
        {% if process.analysis.notebook %}
        <tr>
          <th>
            {% trans "Notebook" %}
          </th>
          <td>
            <a href="{{ process.analysis.notebook.url }}" title="{% trans "View file" %}">
              <i class="fa fa-download" aria-hidden="true"></i>
              {{ process.analysis.notebook.name|filename }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% for pixelset in process.analysis.pixelsets.all %}
        <tr>
          <th>
            {% trans "Pixel set" %} {{ forloop.counter }}
          </th>
          <td>
            <a href="{{ pixelset.pixels_file.url }}" title="{% trans "View file" %}">
              <i class="fa fa-download" aria-hidden="true"></i>
              {{ pixelset.pixels_file.name|filename }}
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2" class="empty">
            {% trans "Submitted archive has no pixel set" %}
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endblock step_content %}

{% block step_navigation %}
  <a href="{% url 'submission:index' %}">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    {% trans "back to submissions" %}
  </a>
{% endblock step_navigation %}
