{% extends "submission/base.html" %}

{% load i18n submission %}

{% block title %}{% trans "Submissions" %}{% endblock %}
{% block body_class %}{{ block.super }} list{% endblock %}

{% block header %}
<h1>{% trans "Submissions" %}</h1>
{% endblock %}

{% block content %}
  <div class="new">
    <div class="info">
      {% blocktrans %}
        Start importing a new dataset in a few steps by clicking the button
        below. You will be guided at each step of the importation workflow,
        but if you get lost, read our documentation or contact us.
      {% endblocktrans %}
    </div>
    <div class="start">
      <a href="{% url 'submission:start' %}" class="action">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        {% trans "Import a new dataset" %}
      </a>
    </div>
  </div>

  <h3>{% trans "History" %} <span class="subheader">({{ paginator.count }})</span></h3>

  <table class="process-list">
    <thead>
      <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Label" %}</th>
        <th>{% trans "Owner" %}</th>
        <th>{% trans "Completion" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for process in process_list %}
        <tr class="process">
          <td class="created-at">
            {{ process.created }}
          </td>
          <td class="label">
            <a href="{% url 'submission:detail' process.pk %}">
              {{ process.label }}
            </a>
          </td>
          <td class="created-by">
            {% with owner=process.created_by %}
            {{ owner.get_full_name|default:owner.username }}
            {% endwith %}
          </td>
          <td class="completion">
            {% submission_ratio process as submission_ratio %}
            {{ submission_ratio }}%
          </td>
          <td class="status">
            {% if process.is_failed %}
              <i class="fa fa-exclamation-triangle error" aria-hidden="true"></i>
            {% elif process.is_done %}
              <i class="fa fa-check-circle success" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-pause-circle-o" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td class="actions">
            <a
              href="{% url 'submission:detail' process.pk %}"
              class="action secondary"
              title="{% trans "Checkout submission details" %}"
            >
              <i class="fa fa-play-circle" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3" class="empty">
            {% trans "No dataset has been submitted yet." %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul class="pagination text-center" role="navigation" aria-label="{% trans "Pagination" %}">
    {% if page_obj.has_previous %}
    <li class="pagination-previous">
      <a href="?page={{ page_obj.previous_page_number }}" aria-label="{% trans "Previous page" %}">
        {% trans "Previous" %}
      </a>
    </li>
    {% endif %}
    {% for page in paginator.page_range %}
      {% if page_obj.number == page %}
      <li class="current">{{ page }}</li>
      {% else %}
      <li>
        <a
          href="?page={{ page }}"
          aria-label="{% trans "Page" %} {{ page }}"
        >
          {{ page }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="pagination-next">
      <a href="?page={{ page_obj.next_page_number }}" aria-label="{% trans "Next page" %}">
        {% trans "Next" %}
      </a>
    </li>
    {% endif %}
  </ul>
{% endblock content %}
