{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pixel{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body class="{% block body_class %}base-layout{% endblock body_class %}">
    <nav class="main-navigation">
      <div class="logo">
        <a href="{% url 'core:home' %}">
          <img src="{% static "img/pixel-logo.svg" %}" alt="Pixel's Logo" />
        </a>
      </div>
      <div class="navigation-links">
        <ul class="links">
          {% if request.user.is_authenticated %}
          <li class="pixeler">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            {{ request.user.username }}
          </li>
          {% if request.user.is_staff %}
          <li>
            <a class="admin" href="{% url 'admin:index' %}">
              <i class="fa fa-wrench" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          <li>
            <a class="submit" href="{% url 'submission:index' %}">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="action logout" href="{% url 'logout' %}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
          {% else %}
          <li>
            <a class="action login" href="{% url 'login' %}">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              {% trans "Login" %}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block messages_wrapper %}
    <div class="messages-wrapper">
      <div class="messages">
        {% for message in messages %}
        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
        {% endfor %}
        {% block messages %}{% endblock messages %}
      </div>
    </div>
    {% endblock messages_wrapper %}

    <header class="page-header">
      {% block header %}{% endblock %}
    </header>

    <main class="page-content">
      {% block content %}{% endblock %}
    </main>

    <footer class="page-footer">
      {% block footer %}
        <div class="copyright">
          <a href="https://github.com/Candihub/pixel/">Pixel</a>
          by <a href="https://github.com/Candihub/">Candihub</a>
          &mdash; 2017.
        </div>
      {% endblock footer %}
    </footer>
  </body>
</html>
