{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h2>{% trans "Welcome to Pixel" %}</h2>

  <div class="grid-x">
    <div class="cell">
      <div id="pixels-by-species" style="height: 500px"></div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
      var pixelBySpecies = new google.visualization.PieChart(
        document.getElementById('pixels-by-species')
      );
      pixelBySpecies.draw(
        google.visualization.arrayToDataTable(
          {{ pixels_by_species.data|safe }},
          true
        ),
        { title: '{{ pixels_by_species.title }}' }
      );
    }
  </script>
{% endblock javascript %}
