{% load i18n %}
{% load explorer %}

<section class="preview-pixels">
  <h4>
    {% trans "Pixels" %}
  </h4>

  {% if pixels_count > pixels_limit %}
    <div class="callout secondary">
      {% blocktrans %}
        The following table is an overview of pixels from the Pixel Set(s).
        Only the first <strong>{{ pixels_limit }}</strong> are shown.
      {% endblocktrans %}
    </div>
  {% endif %}

  <div class="pixels-wrapper">
    <table class="table-preview-pixels">
      <thead>
        <tr>
          <th>{% trans "Omics Unit" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Value" %}</th>
          <th>{% trans "Quality score" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for pixel in pixels %}
          <tr class="pixel">
            <td class="omics-unit">
              <a
                href="{{ pixel.omics_unit.reference.url }}"
                title="{% trans "Check out omics unit reference" %}"
              >
                {{ pixel.omics_unit.reference.identifier }}
              </a>
            </td>
            <td class="description">
              {{ pixel.omics_unit.reference.description | highlight_terms:search_terms }}
            </td>
            <td class="value">
              {{ pixel.value }}
            </td>
            <td class="quality-score">
              {{ pixel.quality_score }}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4" class="empty">
              {% trans "This pixelset has no pixels (or your selection gave no results)" %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
