{% load i18n %}
{% load spurl %}

<div class="subset-selection">
  <h4>{% trans "Subset selection" %}</h4>

  <p>
    {% blocktrans %}
      Copy/paste a list of Omics Units or enter keywords to match in the
      descriptions of the different genes to select a subset of pixels.
    {% endblocktrans %}
  </p>

  <div class="form-error">
    {{ form.non_field_errors }}
  </div>

  <form action="" method="post" id="pixel-selection-form">
    {% csrf_token %}

    {% include "foundation/form.html" %}

    <p class="pixel-selection-form-actions">
      <button type="submit" class="button secondary">
        {% trans "Preview" %}
      </button>

      {% if is_selection %}
        {% with request.session.explorer.pixelset_selection_search_terms as search_terms %}
          {% if search_terms and pixels_count > 0 %}
            <a class="button" href="{% url "explorer:pixelset_export" %}?only-subset=1">
              <i class="fa fa-download" aria-hidden="true"></i>
              {% trans "Export this subset only" %}
            </a>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <a class="button hollow secondary" href="{% url "explorer:pixelset_export" %}">
          {% else %}
            <a class="button" href="{% url "explorer:pixelset_export" %}">
          {% endif %}
            <i class="fa fa-download" aria-hidden="true"></i>
            {% trans "Export all the Pixel Sets" %}
          </a>
        {% endwith %}
      {% else %}
        {% with request.session.explorer.pixelset_detail_search_terms as search_terms %}
          {% if search_terms and pixels_count > 0 %}
            <a class="button" href="{{ pixelset.get_export_pixels_url }}">
              <i class="fa fa-download" aria-hidden="true"></i>
              {% trans "Download a CSV file with the selected Pixels" %}
            </a>
          {% endif %}
        {% endwith %}
      {% endif %}
    </p>
  </form>

  {% if is_selection %}
  <form action="{% url 'explorer:pixelset_selection_clear' %}" method="post" class="clear-form">
  {% else %}
  <form action="{% url 'explorer:pixelset_detail_clear' pixelset.id %}" method="post" class="clear-form">
  {% endif %}
    {% csrf_token %}
    <input type="hidden" name="redirect_to" value="{{ request.build_absolute_uri }}">
    <input
      type="submit"
      name="clear"
      value="{% trans "Clear" %}"
      class="button secondary clear action-clear"
    />
  </form>

  <hr>

  <p>
    {% blocktrans count selected=pixels_count %}
      You have selected
      <span class="badge success">{{ selected }}</span> pixel
      {% plural %}
      You have selected
      <span class="badge success">{{ selected }}</span> pixels
    {% endblocktrans %}
    {% blocktrans with total=total_count %}
      among a grand total of
      <span class="badge secondary">{{ total }}</span> pixels.
    {% endblocktrans %}
  </p>
</div>
