{% extends "base.html" %}

{% load i18n %}
{% load files %}
{% load spurl %}

{% block title %}{% trans "Pixel Set" %} {{ pixelset.id }}{% endblock %}
{% block body_class %}{{ block.super }} explorer pixelset detail{% endblock %}

{% block header %}
<h1>
  <a href="{% url 'explorer:pixelset_list' %}">
    {% trans "Pixel Sets" %}
  </a>
  /
  {% trans "Pixel Set" %}
  <span class="subheader">
    {{ pixelset.get_short_uuid }}
  </span>
</h1>

{% if request.user.is_staff %}
<a
  href="{% url 'admin:core_pixelset_change' pixelset.id %}"
  title="{% trans "Edit this Pixel Set from the admin" %}"
  class="edit"
>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  {% trans "Edit this Pixel Set" %}
</a>
{% endif %}
{% endblock %}


{% block content %}

  <section class="pixelset-overview">
    <div class="meta">
      <h4>{% trans "Properties" %}</h4>

      <table>
        <tbody>
          <tr>
            <th>{% trans "ID" %}</th>
            <td>
              <!-- ID -->
              {{ pixelset.id }}
            </td>
          </tr>
          <tr>
            <th>{% trans "Filename" %}</th>
            <td class="filename">
              <!-- Pixel Set file name -->
              {{ pixelset.pixels_file.name|filename }}
              <a
                href="{{ pixelset.pixels_file.url }}"
                title="{% trans "Download original data" %}"
              >
                <i class="fa fa-download" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          <tr>
            <th>{% trans "Species" %}</th>
            <td class="species">
              <!-- Species-->
              {% for species in pixelset.get_species %}
                <span class="species">{{ species }}</span>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th style="width: 110px">{% trans "Omics Unit types" %}</th>
            <td class="omics-unit-types">
              <!-- Omics Unit Type -->
              {% for type in pixelset.get_omics_unit_types %}
                <span class="omics-unit-type">{{ type }}</span>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>{% trans "Omics Areas" %}</th>
            <td class="omics-areas">
              <!-- Omics Area -->
              {% for area in pixelset.get_omics_areas %}
                <span class="omics-area">{{ area }}</span>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>{% trans "Pixeler" %}</th>
            <td class="pixeler">
              <!-- Pixeler -->
              {{ pixelset.analysis.pixeler.get_full_name }}
            </td>
          </tr>
          <tr>
            <th>{% trans "Analysis" %}</th>
            <td class="analysis">
              <!-- Analysis -->
              {{ pixelset.analysis.description }}

              <span class="completed-at">
                {% trans "Completion date:" %}
                {{ pixelset.analysis.completed_at | date }}
              </span>

              {% if request.user.is_staff %}
              <br>
              <a
                href="{% url 'admin:core_analysis_change' pixelset.analysis.id %}"
                title="{% trans "Edit this analysis from the admin" %}"
                class="edit"
              >
                <i class="fa fa-pencil" aria-hidden="true"></i>
                {% trans "Edit this analysis" %}
              </a>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{% trans "Experiments" %}</th>
            <td class="experiments">
              <!-- Experiment -->
              {% for experiment in pixelset_experiments %}
              <p>
                <span class="experiment">
                  {{ experiment.description }}
                </span>

                <span class="completed-at">
                  {% trans "Completion date:" %}
                  {{ experiment.completed_at | date }}
                </span>

                <span class="released-at">
                  {% trans "Release date:" %}
                  {{ experiment.released_at | date }}
                </span>

                {% if request.user.is_staff %}
                <br>
                <a
                  href="{% url 'admin:core_experiment_change' experiment.id %}"
                  title="{% trans "Edit this experiment from the admin" %}"
                  class="edit"
                >
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  {% trans "Edit this experiment" %}
                </a>
                {% endif %}
              </p>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>{% trans "Tags" %}</th>
            <td class="tags">
              <!-- Tags -->
              {% url 'explorer:pixelset_list' as pixelset_list_base_url %}
              {% for tag in pixelset.analysis.tags %}
                <a href="{% spurl base=pixelset_list_base_url set_query="tags={{ tag.id }}" %}">
                  <span class="tag analysis">{{ tag }}</span>
                </a>
              {% endfor %}
              {% for experiment in pixelset_experiments %}
                {% for tag in experiment.tags %}
                  <a href="{% spurl base=pixelset_list_base_url set_query="tags={{ tag.id }}" %}">
                    <span class="tag experiment">{{ tag }}</span>
                  </a>
                {% endfor %}
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="selection">
      <h4>{% trans "Subset selection" %}</h4>

      <p>
        {% blocktrans %}
          Copy/paste a list of omics units to select a subset of pixels in this
          Pixel Set and export them.
        {% endblocktrans %}
      </p>

      <div class="form-error">
        {{ form.non_field_errors }}
      </div>

      <form action="{{ pixelset.get_absolute_url }}" method="post" id="pixel-selection-form">
        {% csrf_token %}

        {% include "foundation/form.html" %}

        <p>
          <button type="submit" class="button secondary">
            {% trans "Preview" %}
          </button>

          {% if request.session.export.pixels.omics_units and pixels_count > 0 %}
          <a class="button" href="{{ pixelset.get_export_pixels_url }}">
              <i class="fa fa-download" aria-hidden="true"></i>
              {% trans "Download a CSV file with the selected Pixels" %}
            </a>
          {% endif %}
        <p>
      </form>

      <hr>

      <p>
        {% blocktrans count selected=pixels_count %}
          You have selected
          <span class="badge success">{{ selected }}</span> pixel
          {% plural %}
          You have selected
          <span class="badge success">{{ selected }}</span> pixels
        {% endblocktrans %}
        {% blocktrans with total=total_count %}
          among a grand total of
          <span class="badge secondary">{{ total }}</span> pixels.
        {% endblocktrans %}
      </p>
    </div>
  </section>

  <section>
    <h4>
      {% trans "Distributions" %}
    </h4>

    <div class="pixelset-distributions">
      <div class="histogram" id="values-histogram">
        <p>
          <i class="fa fa-refresh fa-spin"></i>
          {% trans "Loading the histogram for values..." %}
        </p>
      </div>

      <div class="histogram" id="scores-histogram">
        <p>
          <i class="fa fa-refresh fa-spin"></i>
          {% trans "Loading the histogram for quality scores..." %}
        </p>
      </div>
    </div>
  </section>

  <section class="pixels-wrapper">
    <h4>
      {% trans "Pixels" %}
    </h4>

    {% if total_count > pixels_limit %}
      <div class="callout secondary">
        {% blocktrans %}
          The following table is an overview of pixels from the Pixel Set. Only
          the first <strong>{{ pixels_limit }}</strong> are shown.
        {% endblocktrans %}
      </div>
    {% endif %}

    <table class="pixels">
      <thead>
        <tr>
          <th>{% trans "Omics Unit" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Value" %}</th>
          <th>{% trans "Quality score" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for pixel in pixels %}
          <tr class="pixel">
            <td class="omics-unit">
              <a
                href="{{ pixel.omics_unit.reference.url }}"
                title="{% trans "Check out omics unit reference" %}"
              >
                {{ pixel.omics_unit.reference.identifier }}
              </a>
            </td>
            <td class="description">
              {{ pixel.omics_unit.reference.description }}
            </td>
            <td class="value">
              {{ pixel.value }}
            </td>
            <td class="quality-score">
              {{ pixel.quality_score }}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="empty">
              {% trans "This pixelset has no pixels (or your selection gave no results)" %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}

{% block javascript %}
  <script src="//www.gstatic.com/charts/loader.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
      var valuesChart = new google.visualization.Histogram(
        document.getElementById('values-histogram')
      );
      var scoresChart = new google.visualization.Histogram(
        document.getElementById('scores-histogram')
      );

      $.get('{% url "explorer:pixelset_detail_values" pixelset.id %}', function (data) {
        valuesChart.draw(
          new google.visualization.DataTable(data),
          {
            height: 300,
            legend: { position: 'none' },
            title: '{% trans "Values" %}',
          }
        );
      });

      $.get('{% url "explorer:pixelset_detail_quality_scores" pixelset.id %}', function (data) {
        scoresChart.draw(
          new google.visualization.DataTable(data),
          {
            height: 300,
            legend: { position: 'none' },
            title: '{% trans "Quality scores" %}',
          }
        );
      });
    }
  </script>
{% endblock javascript %}
