{% extends "base.html" %}

{% load i18n %}
{% load spurl %}

{% block title %}{% trans "Pixel Set" %} {{ pixelset.id }}{% endblock %}
{% block body_class %}{{ block.super }} explorer pixelset detail{% endblock %}

{% block header %}
<h1>
  <a href="{% url 'explorer:pixelset_list' %}">
    {% trans "Pixel Sets" %}
  </a>
  /
  {% trans "Pixel Set" %}
  <span class="subheader">
    {{ pixelset.get_short_uuid }}
  </span>
</h1>

{% if request.user.is_staff %}
<a
  href="{% url 'admin:core_pixelset_change' pixelset.id %}"
  title="{% trans "Edit this Pixel Set from the admin" %}"
  class="edit"
>
  <i class="fa fa-pencil" aria-hidden="true"></i>
  {% trans "Edit this Pixel Set" %}
</a>
{% endif %}
{% endblock %}

{% block content %}
  <section class="pixelset-overview">
    {% include "explorer/_pixelset_detail_meta.html" %}

    {% include "explorer/_subset_selection.html" %}
  </section>

  <section>
    <h4>
      {% trans "Distributions" %}
    </h4>

    <div class="pixelset-distributions">
      <div class="histogram" id="values-histogram">
        <p>
          <i class="fa fa-refresh fa-spin"></i>
          {% trans "Loading the histogram for values..." %}
        </p>
      </div>

      <div class="histogram" id="scores-histogram">
        <p>
          <i class="fa fa-refresh fa-spin"></i>
          {% trans "Loading the histogram for quality scores..." %}
        </p>
      </div>
    </div>
  </section>

  {% include "explorer/_pixelset_detail_pixels.html" %}
{% endblock content %}

{% block javascript %}
  <script src="//www.gstatic.com/charts/loader.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
      var valuesChart = new google.visualization.Histogram(
        document.getElementById('values-histogram')
      );
      var scoresChart = new google.visualization.Histogram(
        document.getElementById('scores-histogram')
      );

      $.get('{% url "explorer:pixelset_detail_values" pixelset.id %}', function (data) {
        valuesChart.draw(
          new google.visualization.DataTable(data),
          {
            colors: ['#bd2222'],
            height: 300,
            legend: { position: 'none' },
            title: '{% trans "Values" %}',
          }
        );
      });

      $.get('{% url "explorer:pixelset_detail_quality_scores" pixelset.id %}', function (data) {
        scoresChart.draw(
          new google.visualization.DataTable(data),
          {
            height: 300,
            legend: { position: 'none' },
            title: '{% trans "Quality scores" %}',
          }
        );
      });
    }
  </script>
{% endblock javascript %}
