{% extends "base.html" %}

{% load i18n %}
{% load files %}

{% block title %}{% trans "Pixel Sets" %}{% endblock %}
{% block body_class %}{{ block.super }} explorer pixelsets{% endblock %}

{% block header %}
<h1>
  {% trans "Pixel Sets" %}
</h1>
<span class="subheader">
  {% trans "total:" %} {{ paginator.count }}<br/>
  {% trans "displayed:" %} {{ pixelset_list.count }}
</span>
{% endblock %}

{% block sidebar-left %}
  <div class="selection">
    <h4>
      {% trans "Selection" %}
      {% if selected_pixelsets.count %}
      <span class="subheader">
        ({{ selected_pixelsets|length }})
      </span>
      {% endif %}
    </h4>

    <p class="help-text">
      {% blocktrans %}
      When you select and save Pixel Sets for export in the right panel, they
      are listed below. Then, click on the "Export" button to download an
      archive (.zip) with these selected Pixel Sets. You can also explore the
      pixels based on your selection.
      {% endblocktrans %}
    </p>

    <ul class="selected-pixelsets">
      {% for pixelset in selected_pixelsets %}
      <li class="pixelset">
        <a
          href="{{ pixelset.get_absolute_url }}"
          title="{% trans "More information about this Pixel Set" %}"
        >
          <code>{{ pixelset.get_short_uuid }}</code> &mdash;
          {{ pixelset.pixels_file.name|filename }}
        </a>

        <form action="{% url 'explorer:pixelset_deselect' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="redirect_to" value="{{ request.build_absolute_uri }}">
          <input type="hidden" name="pixel_set" value="{{ pixelset.id }}">
          <button
            type="submit"
            name="deselect"
            class="button clear action-deselect"
            title="{% trans "Remove this Pixel Set from selection" %}"
          >
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </form>
      </li>
      {% empty %}
      <li class="empty">
        {% trans "No Pixel Set selected yet." %}
      </li>
      {% endfor %}
    </ul>

    {% if selected_pixelsets.count %}
    <form action="{% url 'explorer:pixelset_clear' %}" method="post" id="selection-clear-form">
      {% csrf_token %}
      <input type="hidden" name="redirect_to" value="{{ request.build_absolute_uri }}">
      <input
        type="submit"
        name="clear"
        value="{% trans "Clear" %}"
        class="button secondary clear action-clear"
      />
    </form>

    <form action="{% url 'explorer:pixelset_export' %}" method="post" id="export-form">
      {% csrf_token %}
      <input
        type="submit"
        name="export"
        value="{% trans "Export" %}"
        class="button secondary action-submit"
      />
    </form>

    <form action="{% url 'explorer:pixelset_export' %}" method="post" id="explore-form">
      {% csrf_token %}
      <input
        type="submit"
        name="explore"
        value="{% trans "Explore" %}"
        class="button action-explore"
      />
    </form>
    {% endif %}
  </div>
  <div class="filters">
    <h4>{% trans "Filters" %}</h4>

    <div class="form-error">
        {{ form.non_field_errors }}
    </div>
    <form action="" method="get" id="pixelset-filters-form">
      {% include "foundation/form_fields.html" %}
      <a
        href="{% url 'explorer:pixelset_list' %}"
        class="button secondary clear action-clear"
      >
        {% trans "Clear" %}
      </a>
      <button type="submit" class="button action-submit">
        {% trans "Apply filters" %}
      </button>
    </form>
  </div>
{% endblock sidebar-left %}

{% block content %}
  <div class="form-error">
    {{ export_form.non_field_errors }}
  </div>

  <form action="{% url 'explorer:pixelset_select' %}" method="post" id="select-form">
    {% csrf_token %}
    <input type="hidden" name="redirect_to" value="{{ request.build_absolute_uri }}">

    <div class="pixelsets-wrapper">
      <table class="pixelsets">
        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Pixel Set" %}</th>
            <th>{% trans "Species" %}</th>
            <th>{% trans "Omics Unit type" %}</th>
            <th>{% trans "Omics area" %}</th>
            <th>{% trans "Pixeler" %}</th>
            <th>{% trans "Analysis" %}</th>
            <th>{% trans "Experiment" %}</th>
            <th>{% trans "Tags" %}</th>
          </tr>
        </thead>
        <tbody>
          {% with highlight_term=form.cleaned_data.search %}

          {% for pixelset in pixelset_list %}
            {% include "explorer/_pixelset_list_row.html" %}
          {% empty %}
          <tr>
            <td colspan="8" class="empty">
              {% trans "No Pixel Set matches your query" %}
            </td>
          </tr>
          {% endfor %}

          {% endwith %}
        </tbody>
      </table>
      <p class="help-text">
        {% blocktrans %}
        You can scroll horizontally on the table above by pressing the
        <code>SHIFT</code> key on your keyboard and using the scroll wheel.
        {% endblocktrans %}
      </p>
    </div>

    {% if pixelset_list %}
    <div class="actions">
      <button type="submit" class="button">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        {% trans "Add the selected pixels to the selection" %}
      </button>
    </div>

    <hr>
    {% endif %}
  </form>

  {% include "foundation/pagination.html" %}
{% endblock content %}

{% block javascript %}
<script>
  (function (document) {
    // Pixel Set selection
    $rows = document.querySelectorAll('.pixelset');

    $rows.forEach(function ($row) {
      $row.addEventListener('click', function (e) {
        if (e.target.nodeName !== 'TD') {
          return;
        }

        var $checkbox = this.querySelector('input[type="checkbox"]');
        $checkbox.checked = !$checkbox.checked;
      });
    });
  })(document);
</script>
{% endblock %}
