{% extends "base.html" %}

{% load explorer %}
{% load i18n %}
{% load files %}
{% load spurl %}

{% block title %}{% trans "Pixel Sets - Your selection" %}{% endblock %}
{% block body_class %}{{ block.super }} explorer selection{% endblock %}

{% block header %}
<h1>
  <a href="{% url 'explorer:pixelset_list' %}">
    {% trans "Pixel Sets" %}
  </a>
  /
  {% trans "Your selection" %}
</h1>
{% endblock %}

{% block content %}
  <section class="selection-overview">
    <h4>
      {% trans "Pixel Sets" %}
    </h4>

    {% for pixelset in selected_pixelsets %}
    <div class="pixelset-item">
      <h5>
        &rsaquo;
        {% trans "Pixel Set" %}
        <span class="subheader">{{ pixelset.get_short_uuid }}</span>
        &mdash;
        <a
          href="{{ pixelset.get_absolute_url }}"
          title="{% trans "More information about this Pixel Set" %}"
        >
          {{ pixelset.pixels_file.name|filename }}
        </a>
      </h5>

      <section class="pixels-distributions">
        <h6>
          {% trans "Distributions" %}
        </h6>

        {% with "values-histogram-"|concat:pixelset.id as id_values %}
        {% with "scores-histogram-"|concat:pixelset.id as id_scores %}
          {% include "explorer/_pixels_distributions.html" with id_values=id_values id_scores=id_scores only %}
        {% endwith %}
        {% endwith %}
      </section>

    </div>
    {% endfor %}
  </section>

  <section class="pixels-distributions">
    <h4>
      {% trans "Cumulative distributions" %}
    </h4>

    {% include "explorer/_pixels_distributions.html" %}
  </section>

  {% include "explorer/_subset_selection.html" %}

  {% include "explorer/_pixelset_detail_pixels.html" %}
{% endblock content %}

{% block javascript %}
<script src="//www.gstatic.com/charts/loader.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(function () {
    {# Cumulative distributions #}
    {% url "explorer:pixelset_selection_cumulative_values" as url_values %}
    {% url "explorer:pixelset_selection_cumulative_quality_scores" as url_scores %}

    {% include "explorer/_pixels_distributions.js" with url_values=url_values url_scores=url_scores only %}

    {# Distributions for each Pixel Set #}
    {% for pixelset in selected_pixelsets %}
      {% url "explorer:pixelset_selection_values" pixelset.id as url_values %}
      {% url "explorer:pixelset_selection_quality_scores" pixelset.id as url_scores %}

      {% with "values-histogram-"|concat:pixelset.id as id_values %}
      {% with "scores-histogram-"|concat:pixelset.id as id_scores %}
        {% include "explorer/_pixels_distributions.js" with url_values=url_values url_scores=url_scores id_values=id_values id_scores=id_scores only %}
      {% endwith %}
      {% endwith %}
    {% endfor %}
  });
</script>
{% endblock javascript %}
